<!DOCTYPE html>
<html>
<head>
<style>
body  {
  background-image: url("cinema.png")
  background-repeat: repeat;
  background-color: #cccccc;
}
.header {
  display: grid;
  grid-template-areas:
  grid-template-columns: 1fr;
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , yellow);
}
 .footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20 px;
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , yellow);           
}
}
</style>
</head>
<body>
