<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  
.body {
  background-image: url("cinema.png")
  background-repeat: center repeat;
  background-size: 200px;
}
.div1, .div3 {
  grid-column: span 8;
}

.div2, .div4 {
  grid-column: span 4;
}
.header {
  display: grid;
  grid-template-columns: 1fr;
  height: 200px;
  background-color: red; 
  background-image: linear-gradient(to right, red , yellow);
}
 .footer {
  display: grid;
  grid-column: col-start / span 12;
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: red ;           
}
  @media (min-width: 768px) {
    
  .content {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
  }
  nav ul {
    flex-direction: column;
  }
}
}
</style>
</head>
<body>
